body {
  background-color: #FFE6E6;
  font-family: helvetica;
  color: #807D7D;
  text-transform: uppercase;
}

nav {
  text-align: center;
  margin: 0 auto;
}

ul.nav {
  display: inline-block;
  text-align: center;

}
.nav li {
  font-family: helvetica;
  text-transform: uppercase;
  font-size: 1em;
  height: 40px;
  display: inline-block;
  padding: 3px;
}

img {
    opacity: 0.6;
    filter: alpha(opacity=50);
    padding-bottom: 3px;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
